article > ul {
	list-style:outside;
	float:left;
	width:322px;
	margin-left:-27px;
	font-family: "Egy505Lt", verdana, helvetica, sans-serif;
font-size: 14px;
color: #686868;
text-align:justify;
min-height:370px;
}

article > h2 {
color: #831418;
font-family: egy505lt,verdana,helvetica,sans-serif;
font-size: 15px;
text-align: justify;
margin-top:70px;
float:left;
width:320px;
}
html {
	
}

body {
	overflow:auto;
}

div#main {
	width:895px;
	height:700px;
	margin:0 auto;	
}

div#header {
	width:100%;
	height:105px;
	background-image:url(../images/header.png);
	background-position:bottom;
	background-repeat:no-repeat;
	position:relative;
	top:-9px;
}

div#logo {
	width:230px;
	height:105px;
	float:left;
	cursor:pointer;
}

div#header ul {
	width:auto;
	height:17px;
	list-style:none;
	font-family:"Egyptian505MdBTMedium", verdana, helvetica, sans-serif; 
	font-size:12px;
	float:right;
	margin-top:77px;
	margin-right:15px;
	
}

div#header li {
	float:left;
	padding-left:8px;
	padding-right:8px;
	cursor:pointer;
	border-right:1px solid #a4a4a6;
	color:#a4a4a6;

}

div#header li  a {
color:#a4a4a6;
}

div#header li:last-child {
	border:none;	
}

div#header li:hover , div#header li.active , div#header li.lang-active a{
	color:#801214!important;
}


div#menu {
	width:100%;
	height:55px;
	float:right;
	margin-right:5px;
	position:relative;
	top:-10px;
	background-color:#FFF;
}

div#menu li.active p a {
	font-family: "Egyptian505MdBTMedium", verdana, helvetica, sans-serif;
	color:#882224!important;	
}

div#menu ul {
	list-style:none;
	float:right;
	width:auto;
}

div#menu ul li:first-child {
    display: none
}

div#menu li {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	font-size:15px;
	color:#686868;
	padding-left:9px;
	padding-right:9px;
	border-right:1px solid #a4a4a6;

	float:left;
	cursor:pointer;
}

div#menu li p a {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	font-size:15px;
	color:#686868;
    text-decoration: none;
}

div#menu li p {
    margin: 0 auto;  
    
}

div#menu li p a:hover  {
	color:#882224;
	
}


div#menu li p:first-letter {
	color:#882224!important;
}

div#menu li p a:hover {
color:#882224!important;	
}



div#menu li:last-child {
	border:none;
}

div#home {
	margin-top:93px;
	width:100%;
	height:470px;
	background-repeat:no-repeat;
}

div#home div.left {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	color:#831317;
	font-size:12px;
	background-color:#c9c9c9;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	float:left;
	width:539px;
	height:96px;
	margin-top:335px;
}

div#home div.left div.title {
	font-size:20px;
	margin-left:20px;
		padding-top:7px;
}

div#home div.left div.content {
	font-size:20px;
	margin-left:20px;
	margin-top:5px;
	font-size:11px;
	width:500px;
	text-align:justify;
}

div#home div.right {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	color:#ffffff;
	font-size:12px;
	background-color:#9c5557;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	width:324px;
	height:96px;
	float:right;
	margin-top:335px;
	padding-right:10px;
}
div#home div.right div.title {
	font-family:"Egyptian505BT", verdana, helvetica, sans-serif; 
font-size:16px;
color:#FFF;
	margin-left:15px;

		padding-top:12px;
}

div#home div.right div.content {
	font-size:20px;
	margin-left:15px;
	font-size:12px;
	width:280px;
	text-align:justify;
}

div#home div.right div.content span {
color:#ffffff;
display:inline;
}

div.copyright, div.copyrightEN {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#686868;
	float:right;
	text-align:justify;
	width:300px;
	height:23px;
	top:640px;
	background-image:url(../images/copyhome.png);
	background-repeat:no-repeat;
	background-position:top;
	cursor:pointer;
	margin-right:10px;

}

div.copyrightFR {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#686868;
	float:right;
	text-align:justify;
	width:300px;
	height:23px;
	top:640px;
	background-image:url(../images/copyhome.png);
	background-repeat:no-repeat;
	background-position:top;
	cursor:pointer;
	margin-right:-8px;

}

div.copyrightinsideEN {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#868789;
	float:686868;
	text-align:justify;
	top: 468px;
    width: 330px;
	height:23px;
	position:absolute;
	background-image:url(../images/copyinside.png);
	background-repeat:no-repeat;
	background-position:top;
	cursor:pointer;

}

div.copyrightinsideFR {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#868789;
	float:686868;
	text-align:justify;
	top: 468px;
    width: 330px;
	height:23px;
	position:absolute;
	background-image:url(../images/copyinside.png);
	background-repeat:no-repeat;
	background-position:top;
	cursor:pointer;
	margin-left:-10px;
}


div#content {
	width:100%;
	height:511px;
}

div#content div#left {
	width:230px;
	float:left;
	margin-right:17px;
	position:relative;
		
}

div.imgbox{
	width:224px;
	height:483px;
	border:1px solid #c6c5c6;
}

div.imgbox img {
	width:224px!important;
	height:483px!important;
}

div#content div#middle {
	float:left;
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	font-size:14px;
	color:#686868;
	width:322px;
	height:426px!important;
	margin-top:80px;
	margin-right:17px;
	text-align:justify;
		
}

div#middle ul {
	list-style:outside!important;
	margin-left:-27px!important;
}

div#content div#right {
	width:300px;
	float:left;
	position:relative;
}

div#rightmenu {
	font-family:"Egyptian505MdBTMedium", verdana, helvetica, sans-serif; 
	color:#686868;
	width:320px;
	/*border-left:1px solid #a24e51!important;*/
	margin-top:60px;
	position:absolute;
    margin-left: 30px;
	
}

.margin11 {
	margin-left:11px;	
}

div#rightmenu div.maintitle {
	margin-left:15px;
	margin-top:10px;
	cursor:pointer;
	font-size:13px;
}


div#rightmenu div.title {
	margin-left:15px;

	cursor:pointer;
	font-size: 13px;
}




div#rightmenu  div.maintitle a , div#rightmenu ul li a{
    cursor: pointer;
   font-family: "Egy505Lt",verdana,helvetica,sans-serif;
    font-size: 13px !important;
    text-decoration: none; 
    
}
div#rightmenu  div a.active , div#rightmenu li a.active {
	color: #831317!important;
    font-family: "MyCustomFont" !important;
}



div#rightmenu ul {
	list-style-type:none;
	margin-left:-30px;
	margin-top:0px;
	margin-bottom:40px;

}

div#rightmenu li {
	float:left;
	padding-left:6px;
	font-family:"MyCustomFont"!important; 
	font-size:13px;
	color:#686868;
	cursor:pointer;
}

div#rightmenu li:last-child span.seperator2 {
	display:none;	
}

div#rightmenu ul.insidemenu li:first-child {
	margin-top:20px;	
}

div#rightmenu ul.insidemenu li:last-child {
	padding-bottom:30px;	
}


div#rightmenu li:last-child {
	border:none;
}


ul.menuinsidemenu {
    position: relative;
    right: 10px;
    margin-top: 80px;
}

ul.menuinsidemenu li {
	clear:both!important;
	padding:none!important;
	padding-left:15px!important;
	border:none!important;
	font-family:"Egyptian505MdBTMedium", verdana, helvetica, sans-serif!important; 
	font-size:13px!important;
	color:#686868;
	cursor:pointer;
	/*border-left:1px solid #a24e51!important;*/
	width:auto;
}

ul.menuinsidemenu li a {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif!important; 
	font-size:13px!important;
	color:#686868;
	cursor:pointer;
    text-decoration: none;
}

ul.menuinsidemenu li a:hover {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	color:#a24e51;
}

ul.menuinsidemenu li.current a {
  color: #831317;
    font-family: "MyCustomFont" !important; 
    
}

ul.insidemenu li:last-child {
	border:none;
}

div#rightmenu li a:hover , div#rightmenu  div a:hover, div#rightmenu div.maintitle a:hover {
	color: #831317!important;
    font-family: "Egy505Lt",verdana,helvetica,sans-serif;
    font-size: 10px;
}

div#redbox {
font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	color:#f5f5f6;
	font-size:17px;
	line-height:18px;
	background-color:#831317;
	width:300px;
	padding-right:11px;
	height:88px;
	margin-top:100px;
	padding-left:15px;
	padding-top:15px;
	position:absolute;
	top:260px;
	margin-left:40px;
	opacity: 0.8;
  filter: alpha(opacity = 80);
}

div#redbox2 {
font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	color:#f5f5f6;
	font-size:20px;
	background-color:#831317;
	width:311px;
	height:88px;
	margin-top:100px;
	padding-left:15px;
	padding-top:15px;
	position:absolute;
	top:440px;
	margin-left:25px;
	opacity: 0.8;
  filter: alpha(opacity = 80);
}

div#greybox {
  color: #F5F5F6;
    font-family: "Egy505Lt",verdana,helvetica,sans-serif;
    font-size: 16px;
    height: 88px;
    margin-left: 30px;
    padding-left: 15px;
    padding-top: 15px;
    position: relative;
    width: 311px;
    margin-top: -25px;
}

#msg {
    height:15px;
}

.displaynone {
	display:none;	
}

.visiblenone {
	visibility:hidden;
}


/* people section */

div#people 
{
	
}

div#people div.box {
	float:left;
	width: 219px;
	height:118px;
	/*border-left:1px solid #c1898b;*/
	margin-bottom:16px;
	cursor:pointer;
}

div#people div.box div.boximg {
	width:70px;
	height:90px;
	background-color:#858688;
	margin-left:14px;
	margin-top:15px;
	float:left;
}

div.boximg img {
		width:100px;
	height:120px;
}

div#people div.box div.text {
	width:95px;
	height:50px;
	float:left;
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	font-size:10px;
	color:#686868;
	margin-top:33px;
	margin-left:10px;
}

div#people div.box div.text div.title {
	color:#831418;
	margin-bottom:9px;
	font-weight:bold;
}


/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
   width:893px;
	height:274px;
	margin-bottom:56px;

}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

.items div {
    float:left;
    width:893px;
}

/* single scrollable item */
.scrollable img {
    float:left;
	width:69px!important;
	height:90px!important;
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}


/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background:url(/media/img/scrollable/arrow/hori_large.png) no-repeat;
    display:block;
    width:30px;
    height:30px;
    float:left;
    margin:40px 10px;
    cursor:pointer;
    font-size:1px;
}

/* right */
a.right { background-position: 0 -30px; clear:right; margin-right: 0px;}
a.right:hover { background-position:-30px -30px; }
a.right:active { background-position:-60px -30px; }


/* left */
a.left { margin-left: 0px; }
a.left:hover  { background-position:-30px 0; }
a.left:active { background-position:-60px 0; }

/* up and down */
a.up, a.down  {
    background:url(/media/img/scrollable/arrow/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
a.up:hover { background-position:-30px 0; }
a.up:active { background-position:-60px 0; }

/* down */
a.down { background-position: 0 -30px; }
a.down:hover { background-position:-30px -30px; }
a.down:active { background-position:-60px -30px; }


/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}

div.redbox {
	float:right;
	position:relative;
font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	color:#f5f5f6;
	font-size:20px;
	background-color:#831317;
	width:311px;
	height:88px;
	padding-left:15px;
	padding-top:15px;
	opacity: 0.8;
  filter: alpha(opacity = 80);
}



div#bottommsg {
font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
font-size:19px;
color:#c5c6c8;
float:left; 
width:560px;
height:110px;
/*text-align:right;*/
margin-top:10px;
}

.navi {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif;
	font-size:10px;
	color:#686868;
	border-left:1px solid #831317;
	height:20px;
	padding-top:5px;
}

.navi a {
	padding-left:5px;	
}

.navi a.active {
	font-weight:bold;
	text-decoration:underline;	
}

div#rightmenu .scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
   width:380px;
	height:260px;
	clear:both!important;
	float:none!important;

}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
div#peopleinside .scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}

div#peopleinside .items div {
    float:left;
    width:380px;
}

div#peopleinside .items ul {
	list-style:none;
}

div#peopleinside .items ul li {
	clear:both;
	font-size:13px;
	font-family: "Egyptian505BT",verdana,helvetica,sans-serif !important;
    font-weight: lighter !important;
	border:none;
}

div#peopleinside .items ul li:hover, div#peopleinside .items ul li.active {
	font-family: "Egyptian505BT",verdana,helvetica,sans-serif !important;
    font-weight: bold !important;
}

/* single scrollable item */
div#peopleinside .scrollable img {
    float:left;
	width:101px!important;
	height:138px!important;
}

/* active item */
div#peopleinside .scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}


/* this makes it possible to add next button beside scrollable */
div#peopleinside .scrollable {
    float:left;
}

span.seperator {
	font-family:"myriadproregular", verdana, helvetica, sans-serif; 
	font-size:9px;
	padding-left:5px;
	padding-right:5px;
}

span.seperator2 {
	font-family:"myriadproregular", verdana, helvetica, sans-serif; 
	font-size:9px;
	color:#831418;
	padding-left:5px;
}

span.position {
	clear:both;
	font-family: "Egyptian505BT";
	font-size:12px;
	line-height:18px;
}

div#person {
	height: 140px;
    margin-left: -15px;
    position: relative;
    top: -140px;
    width: 311px;
}

div#person div.text {
    
    text-transform: capitalize;
}

div.boximg {
	width:70px;
	height:90px;
	background-color:#858688;
	margin-left:19px;
	margin-top:-30px;
	float:left;
	z-index:100px;
}

div#person div.text {
	font-family:"Egy505Lt", verdana, helvetica, sans-serif; 
	font-size:14px;
	color:#FFFFFF;
	margin-top:100px;
	margin-left:130px;

}

div#person div.text div.title {
	color:#686868;
	font-family: "Egyptian505BT";  
	font-size:15px;
	margin-bottom:17px;
}

div.navi div.prev {
	float:left;
	margin-right:10px;
	margin-left:20px;
}

div.navi div.next {
	float:right;
	margin-left:15px;
}

div.navi div.prev:hover, div.navi div.next:hover, div.navi a:hover, div.navi a.active  {
	color:#801214;
}

.margin0 {
	margin-left:0px!important;	
}


.mainsubmenu {
	float:left;
	margin-left:-35px;
	margin-top:15px;
	
}

ul.mainsubmenu li  {
	clear:both!important;
	border:none!important;
	margin:0!important;
	padding:0!important;
	font-size:13px!important;

	padding-left:10px!important;
	padding-right:10px!important;
	color:#686868!important;
}

ul.mainsubmenu li a {
	color:#686868!important;
    text-decoration: none;
}

ul.mainsubmenu li a:hover {
	color:#882224!important;
    text-decoration: none;
}

div#mainsubmenu1 {
position: absolute;
background-color: #ffffff;
width: auto;
height: auto;
margin-left: 274px;
margin-top: 35px;
padding-right: 5px;
z-index: 1000;
}


div#mainsubmenu2 {
position: absolute;
background-color: #ffffff;
width: auto;
height: auto;
margin-left: 355px;
margin-top: 35px;
padding-right: 5px;
z-index: 1000;
}

div#mainsubmenu3 {
position: absolute;
background-color: #ffffff;
width: auto;
height: auto;
margin-left: 471px;
margin-top: 35px;
padding-right: 5px;
z-index: 1000;
}

div#mainsubmenu4 {
position: absolute;
background-color: #ffffff;
width: auto;
height: auto;
margin-left: 528px;
margin-top: 35px;
padding-right: 5px;
z-index: 1000;
}

div#mainsubmenu5 {
position: absolute;
background-color: #ffffff;
width: auto;
height: auto;
margin-left: 582px;
margin-top: 35px;
padding-right: 5px;
z-index: 1000;
}


div#mainsubmenu6 {
position: absolute;
background-color: #ffffff;
width: auto;
height: auto;
margin-left: 678px;
margin-top: 35px;
padding-right: 5px;
z-index: 1000;
}

div#dnbtn {
	position:absolute;
	top:665px;
	cursor:pointer;		
}

div#upbtn {
	position:absolute;
	top:220px;
	cursor:pointer;
}

ul {
	list-style-type:none;
}
ul#ticker {
	width: 100%;
	height: 90px;
	overflow: hidden;
	margin-top:-1px;
}

ul#ticker li {
	width: 100%;
	height: 80px;
	margin-left:-35px;
	
}

ul#ticker li a {
	color: #666;
}

ul#ticker li span {
	display: block;
	color: #06C;
}


div#redline {
    background-color: #882224;
    height: 270px;
    margin-left: 593px;
    margin-top: 130px;
    width: 1px;
}

div#greybox label {
	color:#686868;	
}

div#greybox div#msg {
	color:#882224;	
}

div#greybox a {
	text-decoration:none;
	color:#FFF;
	font-size:14px;
	background-color:#882224;
	padding:4px;
	height:17px;
	float:left;

}

div#greybox a.nostyle {
	text-decoration:none!important;
	background-color:transparent!important;
	height:0px!important;
	padding:0px!important;
	float:none!important;
}

div#greybox input {
	width:215px;
	height:25px;
	border:1px solid #882224;
	margin:0 auto;
	color:#686868;
	font-size:12px;
	float:left;
			
}

div#right .h4 {
    color: #686868;
    font-family: "Egyptian505BT",verdana,helvetica,sans-serif;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 70px;
    position: relative;
    text-decoration: none;
    z-index: 100 !important;
}

div#rightmenu ul {
    list-style-type: none;
    margin-bottom: 40px;
    margin-left: -30px;
    margin-top: 0;

}

div#rightmenu .h4 a {
	color:#686868;
	font-family:"Egyptian505BT", verdana, helvetica, sans-serif; 
	font-size:15px;
	text-decoration:none;
	z-index:100;	
}

div#rightmenu .h4 a:hover, div#right .h4 a.active {
	font-family:"Egyptian505BT", verdana, helvetica, sans-serif; 
	color:#882224;
    font-size: 15px;
}

.fixed {
  position: fixed;
  top: 0;
}

div.info[data-info~="&"] {
	color:#000!important;
	font-size:36px;	
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    body {
    }
	
	strong {
		font-family:"Egyptian505BoldBT"!important;	
	}
}


.readmore {
float:right; text-decoration:underline; cursor:pointer
}

.item-page {
    display: inline;
    width: 546px;
}

.img-fulltext-left {
    
    float: left;
}

.img-fulltext-left > img {
    border:1px solid #C6C5C6;
    margin-right:17px; 
}

article p {
   width: 322px;
   text-align: justify;
   float: left;
   margin-top: 70px;
   color: #686868;
    font-family: "Egy505Lt",verdana,helvetica,sans-serif;
    font-size: 14px;
    text-align: justify;
    min-height:280px;
}

a[href="http://www.faboba.com"] {
    
    display:none!important;
}

div#rightnavigation {
float: left;
    margin-top: -355px!important;
    
}

img[alt="empty"] {
   border:none!important; 
}

#copyright {
color: #686868;
    font-family: "Egyptian505BT",verdana,helvetica,sans-serif;
    font-size: 10.5px;
    margin-left: 45px;
    margin-top: 465px;
    position: absolute;
    text-decoration: none;
	min-width:320px;
}

div#rightmenu div a span {
	text-transform:none!important;
}